# Ignore node_modules (dependencies installed via npm install)
node_modules/

.DS_Store

.idea/
hub.iml

properties/config.txt
properties/secrets.txt
poolpump/data.json
thermostat/data.json
poollights/data.json
