<div class="thermostat">
    <ul>
        <% jsonData.data.forEach(property => { %>
            <li><strong><%= property.name %></strong>: <%= property.value %></li>
        <% }); %>
    </ul>
    <div class="thermostatdate">last update <%= jsonData.date %></div>
</div>