<div class="thermostat">
    <div class="data">Data - <%= jsonData.date %></div>
    <ul>
        <% jsonData.data.forEach(property => { %>
            <li><strong><%= property.name %></strong>: <%= property.value %></li>
        <% }); %>
    </ul>
</div>